@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Montserrat', sans-serif;
    }
}

@layer components {
    .category{
        @apply flex flex-col items-center text-gray-400 hover:text-black gap-2;
    }
    .category-text{
        @apply text-xs font-normal;
    }
    .hotel-img{
        @apply h-6 w-6 text-gray-400;
    }
    .gray-text {
        @apply text-sm text-gray-400
    }

}

